:root {
    --primary-color: #e77929; /* Cor primária */
    --secondary-color: #d56d24; /* Cor secundária */
}

body {
    font-family: Arial, sans-serif;
    padding-top: 70px; /* Espaço para a Navbar fixa */
}

.container {
    max-width: 900px;
    margin: 20px auto;
}

.btn-custom {
    background-color: var(--primary-color);
    color: white;
}

.btn-custom:hover {
    background-color: var(--secondary-color);
}

.alert-success {
    display: none; /* Inicialmente oculto */
    margin-top: 20px;
}

.navbar {
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .nav-link {
    color: white !important;
}

.navbar-brand:hover, .nav-link:hover {
    color: var(--secondary-color) !important;
}

.navbar-toggler-icon {
    background-color: white;
}