:root {
    --primary-color: #e77929; /* Cor primária */
    --secondary-color: #d56d24; /* Cor secundária */
}

body {
    font-family: Arial, sans-serif;
    padding-top: 70px; /* Espaço para a Navbar fixa */
}

.container {
    max-width: 900px;
    margin: 20px auto;
}

.filter-container {
    margin-bottom: 20px;
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.no-products {
    text-align: center;
    padding: 20px;
    color: #6c757d;
}

.no-products i {
    font-size: 2rem;
    margin-bottom: 10px;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

.navbar {
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .nav-link {
    color: white !important;
}

.navbar-brand:hover, .nav-link:hover {
    color: var(--secondary-color) !important;
}

.navbar-toggler-icon {
    background-color: white;
}

.card-product {
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-product .btn {
    margin: 2px;
}

@media (max-width: 768px) {
    .table-responsive {
        display: none; /* Oculta a tabela em dispositivos móveis */
    }

    .card-product {
        display: block; /* Exibe os cards em dispositivos móveis */
    }
}

@media (min-width: 769px) {
    .card-product {
        display: none; /* Oculta os cards em desktop */
    }
}